<!-- BragiApp\followers\templates\followers\followers_list.html -->
{% extends "base.html" %}
{% block content %}
<h3>{{ user.username }}'s Followers</h3>

{% if followers %}
    <ul>
        {% for follow in followers %}
            <li>
                <a href="{% url 'public_profile' username=follow.follower.username %}">
                    {{ follow.follower.username }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ user.username }} has no followers yet.</p>
{% endif %}
{% endblock %}
