{% extends 'base.html' %}

{% block content %}
<div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #ffffff; border-bottom: 1px solid var(--navbar-border-color);">
    <button onclick="window.history.back();" class="btn">
        <i class="fa-solid fa-chevron-left"></i> Back
    </button>
</div>
<div class="" style="padding: 16px 1%;"> 
    <h1>Create a New Group</h1>
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label for="{{ form.name.id_for_label }}">Group Name:</label>
            {{ form.name }}
        </div>

        <div>
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
        </div>

        <div>
            <label for="{{ form.members.id_for_label }}">Members:</label>
            {{ form.members }}  <!-- Explicitly render the members field -->
        </div>
        
        <button type="submit">Create Group</button>
    </form>
</div>

{% endblock %}
