{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #ffffff; border-bottom: 1px solid var(--navbar-border-color);">
    <button onclick="window.history.back();" class="btn">
        <i class="fa-solid fa-chevron-left"></i> Back
    </button>
</div>
<div class="" style="padding: 16px 1%;"> 
    <h1>All Groups</h1>


    <div class="row">
        {% for group in groups %}
            <div class="col-md-4 mb-4">  <!-- 3 cards per row, adjust 'col-md-4' to your preference -->
                <div class="card">
                    <!-- Display a placeholder image or the creator's profile picture -->
                    {% if group.creator.profile_picture %}
                        <img src="{{ group.creator.profile_picture.url }}" class="card-img-top" alt="{{ group.name }} creator's picture">
                    {% else %}
                        <img src="{% static 'default_group_image.png' %}" class="card-img-top" alt="Default Group Image">
                    {% endif %}
                    
                    <div class="card-body">
                        <h5 class="card-title">{{ group.name }}</h5>
                        <p class="card-text">{{ group.description|truncatewords:15 }}</p>
                        <p class="card-text">
                            <small class="text-muted">Creator: <a href="{% url 'public_profile' group.creator.username %}">{{ group.creator.username }}</a></small>
                        </p>
                        <a href="{% url 'group_detail' group.id %}" class="btn btn-primary">View Group</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
   

{% endblock %}
