<!-- BragiApp\group\templates\group\group_detail.html -->
{% extends 'base.html' %}

{% load static %}  <!-- Load the static files -->

{% block content %}

<div class="">
    <div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #ffffff; border-bottom: 1px solid var(--navbar-border-color);">
        <button onclick="window.history.back();" class="btn">
            <i class="fa-solid fa-chevron-left"></i> Back
        </button>
    </div>
    
    <div class="" style="padding: 16px 1%;"> 

        <h1>{{ group.name }}</h1>
        <p>{{ group.description }}</p>

            <!-- Display cover image -->
            {% if group.cover_image %}
            <img src="{{ group.cover_image.url }}" alt="Group Cover Image" class="img-fluid mb-3">
            {% else %}
                <p>No cover image available.</p>
            {% endif %}

        <!-- Display location -->
        {% if group.location %}
            <p><strong>Location:</strong> {{ group.location }}</p>
        {% else %}
            <p>No location provided.</p>
        {% endif %}
        
        <!-- Display Creator with clickable username and profile picture -->
        <p>Creator: 
            <a href="{% url 'public_profile' username=group.creator.username %}">
                {% if group.creator.userprofile.profile_picture %}
                    <img src="{{ group.creator.userprofile.profile_picture.url }}" alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
                {% else %}
                    <img src="{% static 'default_profile_pic.png' %}" alt="Default Profile Picture" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
                {% endif %}
                {{ group.creator.username }}
            </a>
        </p>
    
        <p>Members:</p>
        <ul style="list-style: none;">
            {% if group.members.all %}
                {% for member in group.members.all %}
                    <li class="my-2">
                        <a href="{% url 'public_profile' username=member.username %}">
                            {% if member.userprofile.profile_picture %}
                                <img src="{{ member.userprofile.profile_picture.url }}" alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
                            {% else %}
                                <img src="{% static 'default_profile_pic.png' %}" alt="Default Profile Picture" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;">
                            {% endif %}
                            {{ member.username }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>No members yet.</li>
            {% endif %}
        </ul>
        {% if group.creator == request.user %}
        <a href="{% url 'edit_group' group.id %}" class="btn btn-primary">Edit Group</a>
        {% endif %}




    </div>


    
{% endblock %}
