<!--BragiApp\chat\templates\chat\communication_center.html-->
{% extends "base.html" %}
{% block content %}
<div style="padding: 16px 1%;">
    <h1>Communication Center</h1>
    <p>Start a chat with users you follow:</p>
    <ul>
        {% for follow in following %}
            <li>
                <a href="{% url 'chat_thread' follow.followed.id %}">
                    {{ follow.followed.username }}
                </a>
            </li>
        {% empty %}
            <li>You are not following anyone yet!</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}