{% extends 'base.html' %}

{% block content %}
<div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #FFFBFF; ">
    <button onclick="window.history.back();" class="btn">
        <i class="fa-solid fa-chevron-left"></i> Back
    </button>
</div>


    <div class="container mt-5" style="padding: 16px 1%;">
        <h4>Are you sure you want to delete this {{ maverick.name }}? All Posts and the associated data under <span class="bold">{{ maverick.name }}</span> will be sent moved to your main profile, {{ user.username }}. </h4>

        <p>Name: {{ maverick.name }}</p>
        <p>Bio: {{ maverick.bio }}</p>
        <p>Location: {{ maverick.location }}</p>
    
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete it</button>
        </form>
        <a href="{% url 'maverick_profile' id=maverick.id %}" class="btn btn-secondary">Cancel</a>
    </div>
    
{% endblock %}
