<!-- templates/maverick/edit_maverick_profile.html -->
{% extends 'base.html' %}

{% block content %}

<div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #FFFBFF;">
  <button onclick="window.history.back();" class="btn">
      <i class="fa-solid fa-chevron-left"></i> Back
  </button>
</div>

<!-- Form Container -->
<div class="container mt-5" style="padding: 16px 1%;">
  <h4>Edit {{ maverick.name }}'s Profile</h4>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>



      <!-- Link to the delete confirmation page -->
      <a href="{% url 'delete_maverick' id=maverick.id %}" class="btn btn-danger" style="margin-top: 20px;">
        Delete Maverick
    </a>


</div>



{% endblock %}