<!-- backend\users\templates\users\profile_edit.html -->
{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="">
    <div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #ffffff; border-bottom: 1px solid var(--navbar-border-color);">
        <button onclick="window.history.back();" class="btn">
            <i class="fa-solid fa-chevron-left"></i> Back
        </button>
    </div>
    <div class="" style="padding: 16px 1%;">
        <h4 class="mb-4">Edit Profile</h4>
        <p class="mb-4">Update your details below:</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Render the user form (username, email) -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Email</label>

                <div>
                    {{ user_form.email }}
                </div>
            </div>
            <!-- Render the user form (username, email) -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Username</label>

                <div>
                    {{ user_form.username }}
                </div>
            </div>

            <!-- Render the profile form (location) -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Location</label>
                <div>
                    {{ profile_form.location }}
                </div>
                
                <div id="helpText" class="form-text">Hint:example</div>
            </div>

            <!-- Render the profile form (profile picture) -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Profile Photo</label>
                <div>
                    {{ profile_form.profile_picture }}
                </div>
                
                <div id="helpText" class="form-text">Hint:example</div>
            </div>
            
            <!-- Render the profile form (bio) -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Summary</label>
                <div>
                    {{ profile_form.bio }}
                </div>
                
                <div id="helpText" class="form-text">Hint:example</div>
            </div>


            
            
            <button type="submit" class="btn btn-dark">Save Changes</button>
        </form>

        <div class="mt-3">
            <a href="{% url 'password_reset' %}" class="btn btn-link">Reset Password</a>
        </div>
    </div>
</div>
{% endblock %}
