{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="">
    <div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #ffffff; border-bottom: 1px solid var(--navbar-border-color); ">
        <a href="{% url 'post_list' %}" class="btn"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <div class="" style="padding: 16px 1%;">
            {% csrf_token %}
            <!-- -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Title</label>
                <div>
                    {{ form.title }}
                </div>
            </div>
            <!-- -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Summary</label>
                <div>
                    {{ form.content }}
                </div>
            </div>
            <!-- -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Image</label>
                <div>
                    {{ form.image }}
                </div>
            </div>
            <!-- -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Category</label>
                <div>
                    {{ form.category }}
                </div>
            </div>
            <!-- -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Tags</label>
                <div>
                    {{ form.tags }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Save Changes</button>
            <div class="mt-3">
                <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-outline-secondary">Cancel</a>
            </div>

        </form>
    </div>

{% endblock %}
