{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #ffffff; border-bottom: 1px solid var(--navbar-border-color); ">
        <a href="{% url 'post_list' %}" class="btn"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <div class="" style="padding: 16px 3%;">
        <h4 class="">Create a New Post</h4>
        <form method="post" enctype="multipart/form-data" class="">
            {% csrf_token %}

    
            
            <!-- Post Title -->
            <div class="mb-3">
                <label for="id_title" class="form-label">Post Title</label>
                <div>
                    {{ form.title }}
                </div>
                
                <div id="helpText" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <!-- Post Summary -->
            <div class="mb-3">
                <label for="id_content" class="form-label">Summary</label>
                <div class="input-group">
                    {{ form.content }}
                </div>
                <div id="helpText" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <!-- Post Category -->
            <div class="mb-3">
                <label for="id_category" class="form-label">Category</label>
                <div>
                    {{ form.category }}
                </div>
            </div>

            <!-- Post Tags -->
            <div class="mb-3">
                <label for="id_tags" class="form-label">Tags</label>
                <div class="input-group">
                    {{ form.tags }}
                </div>
            </div>



            <!-- Post Image -->
            <div class="mb-3">
                <label for="formFile" class="form-label">Image Upload</label>
                <div class="">
                    {{ form.image }}
                </div>
            </div>
              

            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
