<!--BragiApp\posts\templates\posts\post_form.html-->
{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="text-left" style="position: sticky; top: 0; margin: 0; padding: 0; background-color: #ffffff; border-bottom: 1px solid var(--navbar-border-color); ">
        <a href="{% url 'post_list' %}" class="btn"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    <!-- Form Container -->
    <div class="container mt-5" style="padding: 16px 1%;">
        <h4 class="mb-4">Create a New Post</h4>
        
        <!-- Form -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Post Title -->
            <div class="mb-4">
                <label for="id_title" class="form-label">Post Title</label>
                <div class="mb-2">
                    {{ form.title }}
                </div>
                <div class="form-text text-muted">Give your post a descriptive title.</div>
            </div>

            <!-- Post Summary -->
            <div class="mb-4">
                <label for="id_content" class="form-label">Summary</label>
                <div class="mb-2">
                    {{ form.content }}
                </div>
                <div class="form-text text-muted">Write a brief summary of your post.</div>
            </div>

            <!-- Post Category -->
            <div class="mb-4">
                <label for="id_category" class="form-label">Category</label>
                <div class="mb-2">
                    {{ form.category }}
                </div>
                <div class="form-text text-muted">Select the appropriate category for your post.</div>
            </div>

            <!-- Post Tags -->
            <div class="mb-4">
                <label for="id_tags" class="form-label">Tags</label>
                <div class="mb-2">
                    {{ form.tags }}
                </div>
                <div class="form-text text-muted">Add relevant tags to help others find your post.</div>
            </div>

            <!-- Post Image -->
            <div class="mb-4">
                <label for="id_image" class="form-label">Image</label>
                <div class="mb-2">
                    {{ form.image }}
                </div>
                <div class="form-text text-muted">Upload an image to accompany your post (optional).</div>
            </div>

            <!-- Submit Button -->
            <div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
